{% extends "base.html" %}

{% block main %}

<h1>Contact Form</h1>
<hr>

<p>Fill in this form to contact the site owners.</p>

<form method="POST" action="{{ url_for('contact') }}">

    {{ form.hidden_tag() }}

    <div class="form-group">
        <label>Name <span class="required">(Required)</span></label>
        <p>Please enter your full name</p>
        {{ form.name }}
    </div>

    <div class="form-group">
        <label>E-mail <span class="required">(Required)</span></label>
        <p>Please enter your e-mail address</p>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label>Subject <span class="required">(Required)</span></label>
        <p>Please enter the subject for your message.</p>
        {{ form.subject }}
    </div>

    <div class="form-group">
        <label>Message <span class="required">(Required)</span></label>
        <p>Please enter the message you would like to send.</p>
        {{ form.message }}
    </div>

    {{ form.submit(class="btn btn-primary") }}

</form>

{% endblock %}